.content {
  /* Space above any heading that follows an existing bit of text - double the space before a regular paragraph */
  * + h1,
  * + h2,
  * + h3,
  * + h4 {
    @apply mt-12;
  }

  /* Space before any FIRST paragraph, list, table */
  * + p,
  * + ul,
  * + ol,
  * + table,
  * + blockquote,
  * + dl {
    @apply mt-6;
  }

  h1,
  h2,
  h3,
  h4,
  p,
  ul,
  ol,
  table,
  blockquote {
    hyphens: auto;
    @apply mx-3;
    @screen md {
      @apply mx-4;
    }
    @screen xl {
      @apply mx-8;
    }
  }

  h1,
  h2,
  h3,
  h4 {
    @apply text-indigo-500 font-serif;
  }

  /* If a subheading directly follows a heading with no text or other similar
  /* element in between, make the distance between the two smaller - as small
  /* as the space above a regular paragraph and the like. */
  h1 + h2,
  h1 + h3,
  h1 + h4,
  h2 + h3,
  h2 + h4,
  h3 + h4 {
    @apply mt-6;
  }

  ul {
    list-style-type: disc;
  }

  /* Space before any indented sublists within a list item */
  li > ul,
  li > ol {
    @apply mt-2;
  }

  li {
    @apply ml-4;
  }

  * + li {
    @apply mt-2;
  }
  a {
    color: theme("colors.indigo.700");
    text-decoration: underline;
    text-decoration-color: theme("colors.indigo.700");
    &:hover {
      background-color: theme("colors.indigo.100");
      color: theme("colors.indigo.800");
      text-decoration-color: theme("colors.indigo.800");
      transition: all 0.25s ease-out;
    }
  }
}
